<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
			<div class="col-xs-12" >
				<button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
				<a class="btn btn-success" (click)="onCancel()">Cancel</a>
			</div>
			<div class="col-xs-12 form-group" >
				<label for="name">Title</label>
				<input type="text" id="name" class="form-control" formControlName="name">
			</div>
			<div class="col-xs-12 form-group">
				<label for="name">Image Url</label>
				<input type="text" id="image-url" class="form-control" formControlName="imagePath" #imageUrl >
			</div>
			<div class="col-xs-12 img">
				<img [src]="imageUrl.value">
			</div>
			<div class="col-xs-12 form-group">
				<label for="name">Content</label>
				<textarea type="text" id="content" rows="6" class="form-control" formControlName="description"></textarea>
			</div>
			<div class="col-xs-12" formArrayName="ingredients">
				<ul class="list-group" *ngFor="let ingredient of recipeForm.controls['ingredients'].controls; let i=index" formGroupName="{{i}}">
					<div class="col-sm-5">
						<input type="text" id="name" class="form-control" formControlName="name">
					</div>
					<div class="col-sm-5">
						<input type="text" id="amount" class="form-control" formControlName="amount">
					</div>
					<button class="col-sm-2 btn btn-success" (click)="onRemoveIngredient(i)">X</button>
				</ul>
			</div>
		</form>
	</div>
</div>


