<div class="row">
	<div class="col-xs-12">
		<form>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-success">Save</button>
				<a class="btn btn-success">Cancel</a>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name">Title</label>
					<input type="text" id="name" class="form-control">
				</div>
			</div>
			<div class="col-xs-12">
				<label for="name">Image Url</label>
					<input type="text" id="image-url" class="form-control">
			</div>
			<div class="img col-xs-12">
				<img>
			</div>
			<div class="col-xs-12">
				<label for="name">Content</label>
					<textarea type="text" id="content" rows="6" class="form-control"></textarea>
			</div>
			<div class="col-xs-12">
				<ul class="list-group">
					<div class="col-sm-5">
						<input type="text" id="" class=" form-control">
					</div>
					<div class="col-sm-5">
						<input type="text" id=" " class=" form-control">
					</div>
					<button class="col-sm-2 btn btn-success"></button>
				</ul>
			</div>
		</form>
	</div>
</div>
