<div class='row'>
	<div class='col-sm-12'>
  <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
 		<h1>{{selectedRecipe?.name}}</h1>	
 	</div>
	<div class='col-sm-12'>
 	<button class='btn btn-success' (click)="onAddToShoppingList()">Shopping List</button>
 	<button class='btn btn-success'>Edit</button>
 	<button class='btn btn-success'>Delete</button>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
  		<p>{{selectedRecipe?.description}}</p>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
  		<p>Ingredients</p>
	</div>
</div>