/* You can add global styles to this file, and also import other style files */
.container{
	margin-left:20px;
	margin-right:20px;
	padding:10px;
}

.img-responsive{
	width:90%;
}

.list-group{
	padding-top: 10px;
}

.list-group-item{
	margin-top: 5px;

}
.list-group-item-heading{
 font-weight:bold;
 font-size: 1.2em;
}
.list-group-item-text{
 font-size: 0.9em;
}

form{
	padding:10px;
}